* {
    margin: 0;
    box-sizing: border-box;
}

.textShape {
    position: relative;
}

.textShape > svg {
    fill: #ccc8c4;
}

.textShape > section {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
}

.container {
    position: relative;
    margin-top: 2em;
}

.container .textShape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.stanza {
    text-align: center;
}

.stanza + .stanza {
    margin-top: 1em;
}

.line {
    display: block;
}
